/* styles.css */

/* Tombol Toggle */
.toggle-button {
  margin-bottom: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  display: inline-block;
}

/* Kolom Chevron */
.chevron-header-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  cursor: pointer;
}

/* Kolom Tersembunyi */
.hidden-column {
  display: none;
}