$grey: fafafa;

.titleMenu {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: 22px;
  margin-bottom: 0px;
}

.menuNav {
  // padding: 8px;
  background-color: $grey;
  min-height: 100%;
  overflow: hidden;

  .menuItem {
    border-radius: 10px;
    margin-top: 20px !important;
    margin-bottom: 0px !important;
    height: 36px;
    width: 36px;
    padding: 0 10px !important;
    // background-color: green;

    &.selected {
      background-color: #fff;
    }

    &.notSelected {
      background-color: #2b9661;
    }

    &.open {
      background-color: #fff;
    }
  }
}

.colorIcon {
  // color: white;
  &.selected {
    color: green;
  }

  &.notSelected {
    color: white;
  }

  &.open {
    color: #008041;
  }
}

.style-profile {
  height: calc(100vh - 560px) !important;
  display: flex;
  align-items: flex-end;
  padding-bottom: 8px !important;
  background-color: #fff;
}

.custom-dropdown {
  left: 91px !important;
  top: calc(100vh - 120px) !important;
}
