.reactgrid-content .rg-pane .rg-cell {
  color: #000000 !important;
}
.rg-celleditor-input,
.rg-celleditor input {
  color: #000000 !important;
}
.reactgrid-content .rg-pane.rg-pane-top {
  z-index: 1;
}
.reactgrid-content .rg-pane.rg-pane-left {
  z-index: 1;
}
.reactgrid-content .rg-pane-shadow.shadow-top-left-corner {
  z-index: 2;
}
.ant-modal-wrap {
  margin-left: 82px !important;
}
.modal-menu {
  top: 8px;
  bottom: 8px;
  left: 8px;
  max-width: 380px;
  margin: 0px;
  padding-bottom: 0;
  height: calc(100vh - 16px);
  border-radius: 8px;
  .ant-modal-content {
    border-radius: 8px;
    height: 100%;
    .ant-modal-header {
      border-radius: 8px 8px 0px 0px;
      border-bottom: 0px;
      .ant-modal-title {
        .ant-typography {
          color: #008041;
          font-weight: 600;
        }
      }
    }
    .ant-modal-body {
      height: calc(100vh - 70px);
      padding: 0px 0px 8px 0px;
      .scrollableDiv {
        padding-left: 16px;
        padding-bottom: 8px;
        height: 100%;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar-track {
          background: none;
          border-radius: 15px;
        }
        &::-webkit-scrollbar-thumb {
          background: #c4c4c4;
          border-radius: 15px;
          height: 10px;
        }
      }
      .scroll-shadows {
        background:
    /* Shadow covers */ linear-gradient(#ffffff 30%, rgba(255, 255, 255, 0)),
          linear-gradient(rgba(255, 255, 255, 0), #ffffff calc(100% - 30%)) 0 100%,
          /* Shadows */
            radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 40%), rgba(0, 0, 0, 0)),
          radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 40%), rgba(0, 0, 0, 0)) 0
            100%;
        background-repeat: no-repeat;
        background-color: white;
        background-size: 100% 80px, 100% 80px, 100% 8px, 100% 8px;
        background-attachment: local, local, scroll, scroll;
      }
      ul {
        .ant-list-item {
          border-bottom: 0px;
          padding: 0px;

          .ant-btn {
            height: 34px;
            padding: 6px 10px;
          }

          .ant-btn-block {
            display: flex;
          }
        }
      }
    }
  }

  .root-profile {
    padding: 24px;
    .container-name {
      background: aliceblue;
      padding: 8px;
    }
    .txt-title {
      font-size: 14px !important;
      font-weight: bold !important;
    }
    .txt-sub {
      font-weight: 100 !important;
    }
    .header-profile {
      height: calc(100vh - 353px);
    }
    .bottom-profile {
      margin-top: calc(100vh - 574px);
      width: 0px;
    }
  }
}

.segmented-style {
  display: flex;
  margin-top: 20px;
  border-radius: 8px;
  .ant-segmented-group {
    justify-content: space-between;
    label {
      width: 110px;
    }
  }
}

.custom-root-layout {
  padding: 8px 16px 30px;
  background-color: #f5f7f9;
  height: calc(100vh - 221px);
}

.section-table {
  padding: 8px 16px 30px;
  height: calc(100vh - 330px);
  overflow: auto;
  overflow-x: hidden;
  // height: 100%;
}

.custom-breadcrumb {
  font-family: "Poppins";
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  background: #f5f7f9;
  border: 1px solid rgba(198, 206, 214, 0.5);
  border-radius: 8px;
  padding: 0px 8px;
  margin-bottom: 8px;
  display: table;
  .ant-breadcrumb-separator {
    color: #008041;
  }
  .ant-breadcrumb li {
    color: #717171;
    font-weight: 400;
  }
  .ant-breadcrumb li:last-child {
    color: #212121;
    font-weight: 500;
  }
}

.ant-table-container {
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  .ant-table-body {
    overflow-y: auto;
    &::-webkit-scrollbar {
      height: 6px;
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: none;
      border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
      background: #c4c4c4;
      border-radius: 15px;
      width: 10px;
    }
  }
}

.style-notif {
  max-height: 200px;
  overflow: auto;
}

.rg-text-celleditor {
  input {
    border: none;
    padding-left: 9px !important;
  }
}

.rg-number-celleditor {
  input {
    border: none;
  }
}

.reactgrid {
  font-size: 8pt;
}
