.custom-root-coa {
  height: calc(100vh - 82px);
}

.top-content {
  display: flex;
  justify-content: space-between;
  .form-cari {
    display: flex;

    .btn-cari {
      margin-left: 8px;
      border-radius: 8px;
      width: 92px;
      background-color: white;
      border: 1px solid #c6ced6;
      color: black;
    }
  }

  .layout-btn-action {
    .btn-clear {
      margin-left: 8px;
      border-radius: 8px;
      width: 92px;
      background-color: white;
    }
    .btn-update {
      margin-left: 8px;
      border-radius: 8px;
      width: 118px;
      border: none;
      background-color: #f5f7f9;
      color: black;

      .anticon {
        color: #008041;
      }
    }
  }
}

.custom-action-modal {
  top: 24px;

  .ant-modal-body {
    overflow: auto;
    height: calc(100vh - 127px);
  }
}
