.custom-header {
  height: 80px;
  padding: 24px;
  // background-color: #fafafa;
  background-color: #ffffff;
  display: flex;

  background-image: linear-gradient(
    180deg,
    rgba(250, 250, 250, 0) 0%,
    rgba(250, 250, 250, 0.45) 100%
  );
  line-height: 0px;

  .header-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: #212121;
    width: 100%;
  }

  .container-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    .input-search {
      width: 200px;
      margin-right: 8px;
      border-radius: 8px;
      border-color: grey;
      background-color: #f5f7f9;

      input {
        background-color: #f5f7f9;
        &::placeholder {
          color: #8b8c8d;
        }
      }

      &:hover {
        border-color: #018142;
      }
    }

    .btn-refresh {
      margin-right: 8px;
      border-radius: 8px;
      background-color: #f5f7f9;
    }

    .btn-tambah {
      margin-right: 8px;
      border-radius: 8px;
      background-color: #008041;;
      color: white;
    }
  }
  
}

.more-modal {
  .ant-modal-content {
    .ant-modal-body {
      .btn-import {
        // margin-right: 8px;
        // border-radius: 8px;
        border-color: white;
        // color: white;
        // background-color: #008041;
      }
    }
  }
}
