.ant-modal-wrap {
  margin: 0;
}

.modal-management-user {
  width: 100%;
  display: flex;
  justify-content: center;
  top: 20px;

  .select-style {
    width: 100%;
    margin: 8px 0px;

    .ant-select-selector {
      background: #f8f8f8;
      border: none;
      border-radius: 8px;
    }
    
  }

  .ant-modal-content {
    width: 370px;
    // height: 567px;
    border-radius: 8px;
  }

  .root-content-upload {
    // width: 652px;
    // height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 24px;

    .footer-custom {
      margin-bottom: 0px;
      margin-top: 16px;

      .btn-cancel {
        // width: 120px;
        // height: 41px;
        color: #888888;
      }
      .btn-tambah {
        background: #34a853;
        border-radius: 8px;
        // width: 120px;
        // height: 41px;
        border: none;

        &:hover {
          background: #34a853a9;
        }
        &:focus {
            background: #34a853a9;
        }
      }
    }

    .title-upload {
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: rgba(18, 18, 18, 0.7);
    }

    .layout-upload-file {
      background: #f8f8f8;
      border-radius: 8px;
      padding: 16px;
      display: flex;
      flex-direction: column;

      // .anticon {
      //   svg {
      //     width: 30px;
      //     height: 30px;
      //     color: #34a853;
      //   }
      // }

      .txt-drag {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.2px;
        color: #121212;
        margin-top: 10px;
      }

      .txt {
        margin-top: 4px;
      }

      .txt-browse {
        color: #008041;
        font-weight: 600;
      }

      .txt-file {
        color: black;
        font-weight: 600;
        margin-top: 8px;
      }
    }

  }

  

  .type-style {
    margin: 16px 0px;
  }
}
