.custom-header {
  height: 80px;
  padding: 24px;
  // background-color: #fafafa;
  background-color: #ffffff;
  display: flex;

  background-image: linear-gradient(
    180deg,
    rgba(250, 250, 250, 0) 0%,
    rgba(250, 250, 250, 0.45) 100%
  );
  line-height: 0px;

  .header-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: #212121;
    width: 100%;
  }

  .container-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    .input-search {
      width: 200px;
      margin-right: 8px;
      border-radius: 8px;
      border-color: grey;
      background-color: #f5f7f9;

      input {
        background-color: #f5f7f9;
        &::placeholder {
          color: #8b8c8d;
        }
      }

      &:hover {
        border-color: #018142;
      }
    }

    .btn-filter {
      margin-right: 8px;
      border-radius: 8px;

      &:hover {
        border-color: #018142;
        color: #018142;
      }
    }

    .btn-refresh {
      margin-right: 8px;
      border-radius: 8px;
      background-color: #f5f7f9;
    }

    .btn-more {
      border-radius: 4px;
      background-color: #f5f7f9;
      border-color: grey;

      &:hover {
        border-color: #018142;
        color: #018142;
      }
    }
  }
}

.filter-modal {
  top: 62px;
  bottom: 8px;
  left: calc(100vw - 617px);
  max-width: 341px;
  margin: 0px;
  padding-bottom: 0;
  height: calc(100vh - 16px);
  border-radius: 8px;
  .ant-modal-content {
    border-radius: 8px;
    .ant-modal-header {
      border-radius: 8px 8px 0px 0px;
      border-bottom: 0px;
      .ant-modal-title {
        font-weight: 600;
        font-size: 18px;
      }
    }
    .ant-modal-body {
      //   height: calc(100vh - 70px);
      padding: 0px 0px 8px 0px;
      .scrollableDiv {
        padding-left: 16px;
        padding-bottom: 8px;
        height: 100%;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar-track {
          background: none;
          border-radius: 15px;
        }
        &::-webkit-scrollbar-thumb {
          background: #c4c4c4;
          border-radius: 15px;
          height: 10px;
        }
      }
      .scroll-shadows {
        background:
      /* Shadow covers */ linear-gradient(
            #ffffff 30%,
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(rgba(255, 255, 255, 0), #ffffff calc(100% - 30%)) 0
            100%,
          /* Shadows */
            radial-gradient(
              farthest-side at 50% 0,
              rgba(0, 0, 0, 40%),
              rgba(0, 0, 0, 0)
            ),
          radial-gradient(
              farthest-side at 50% 100%,
              rgba(0, 0, 0, 40%),
              rgba(0, 0, 0, 0)
            )
            0 100%;
        background-repeat: no-repeat;
        background-color: white;
        background-size: 100% 80px, 100% 80px, 100% 8px, 100% 8px;
        background-attachment: local, local, scroll, scroll;
      }
    }
  }
}

.more-modal {
  top: 62px;
  bottom: 8px;
  left: calc(100vw - 253px);
  max-width: 137px;
  margin: 0px;
  padding-bottom: 0;
  height: calc(100vh - 596px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  .ant-modal-content {
    border-radius: 8px;

    .ant-modal-header {
      border-radius: 8px 8px 0px 0px;
      border-bottom: 0px;
      .ant-modal-title {
        font-weight: 600;
        font-size: 18px;
      }
    }
    .ant-modal-body {
      //   height: calc(100vh - 70px);
      padding: 0px 0px 8px 0px;
      .scrollableDiv {
        padding-left: 16px;
        padding-bottom: 8px;
        height: 100%;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar-track {
          background: none;
          border-radius: 15px;
        }
        &::-webkit-scrollbar-thumb {
          background: #c4c4c4;
          border-radius: 15px;
          height: 10px;
        }
      }
      .scroll-shadows {
        background:
      /* Shadow covers */ linear-gradient(
            #ffffff 30%,
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(rgba(255, 255, 255, 0), #ffffff calc(100% - 30%)) 0
            100%,
          /* Shadows */
            radial-gradient(
              farthest-side at 50% 0,
              rgba(0, 0, 0, 40%),
              rgba(0, 0, 0, 0)
            ),
          radial-gradient(
              farthest-side at 50% 100%,
              rgba(0, 0, 0, 40%),
              rgba(0, 0, 0, 0)
            )
            0 100%;
        background-repeat: no-repeat;
        background-color: white;
        background-size: 100% 80px, 100% 80px, 100% 8px, 100% 8px;
        background-attachment: local, local, scroll, scroll;
      }
    }
  }

  .btn {
    width: 100%;
    display: flex;
  }
}
